<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_acountRank.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{173,258}</string>
                <key>spriteSourceSize</key>
                <string>{173,258}</string>
                <key>textureRect</key>
                <string>{{63,455},{173,258}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_allRank.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{514,60}</string>
                <key>spriteSourceSize</key>
                <string>{514,60}</string>
                <key>textureRect</key>
                <string>{{1,455},{514,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg_distance.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{316,88}</string>
                <key>spriteSourceSize</key>
                <string>{316,88}</string>
                <key>textureRect</key>
                <string>{{63,715},{316,88}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{176,71}</string>
                <key>spriteSourceSize</key>
                <string>{176,71}</string>
                <key>textureRect</key>
                <string>{{153,715},{176,71}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icon_ad.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,54}</string>
                <key>spriteSourceSize</key>
                <string>{39,54}</string>
                <key>textureRect</key>
                <string>{{1,971},{39,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>text_bcjl.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{159,41}</string>
                <key>spriteSourceSize</key>
                <string>{159,41}</string>
                <key>textureRect</key>
                <string>{{199,893},{159,41}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>text_fqtz.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,33}</string>
                <key>spriteSourceSize</key>
                <string>{125,33}</string>
                <key>textureRect</key>
                <string>{{1,1033},{125,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>text_sbjl.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{174,44}</string>
                <key>spriteSourceSize</key>
                <string>{174,44}</string>
                <key>textureRect</key>
                <string>{{153,893},{174,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>title_accout.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{452,252}</string>
                <key>spriteSourceSize</key>
                <string>{452,252}</string>
                <key>textureRect</key>
                <string>{{1,1},{452,252}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ui_account.png</string>
            <key>size</key>
            <string>{254,1068}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f00703dd46d9f3e499c9a40f13410c26:254d21ec8069dc55388d74c37a3ce5e7:63074ee5cd06b9615a5b4d31ef14736f$</string>
            <key>textureFileName</key>
            <string>ui_account.png</string>
        </dict>
    </dict>
</plist>
