<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_circle.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{340,340}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{340,340}}</string>
                <key>sourceSize</key>
                <string>{340,340}</string>
            </dict>
            <key>icon_circle.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,344},{171,340}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,340}}</string>
                <key>sourceSize</key>
                <string>{171,340}</string>
            </dict>
            <key>icon_watch.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,2},{161,201}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,201}}</string>
                <key>sourceSize</key>
                <string>{161,201}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_countdown.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ca1e88c8cea38d58540005fadf333683$</string>
            <key>textureFileName</key>
            <string>ui_countdown.png</string>
        </dict>
    </dict>
</plist>
