<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_loadingPage.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{750,1334}</string>
                <key>spriteSourceSize</key>
                <string>{750,1334}</string>
                <key>textureRect</key>
                <string>{{1,1},{750,1334}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>game_logo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{596,437}</string>
                <key>spriteSourceSize</key>
                <string>{596,437}</string>
                <key>textureRect</key>
                <string>{{753,753},{596,437}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>loading_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{750,20}</string>
                <key>spriteSourceSize</key>
                <string>{750,20}</string>
                <key>textureRect</key>
                <string>{{1337,1},{750,20}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>loading_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,102}</string>
                <key>spriteSourceSize</key>
                <string>{73,102}</string>
                <key>textureRect</key>
                <string>{{996,1210},{73,102}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>loading_prog.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{584,16}</string>
                <key>spriteSourceSize</key>
                <string>{584,16}</string>
                <key>textureRect</key>
                <string>{{753,1192},{584,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>loading_text.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{241,47}</string>
                <key>spriteSourceSize</key>
                <string>{241,47}</string>
                <key>textureRect</key>
                <string>{{753,1210},{241,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>logo_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{750,535}</string>
                <key>spriteSourceSize</key>
                <string>{750,535}</string>
                <key>textureRect</key>
                <string>{{1,753},{750,535}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ui_loading.png</string>
            <key>size</key>
            <string>{1358,1289}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e09a75d219b42a482c6fc665de8c9d5a:7fcd861945c941fe38c233e2e233f50f:81894c0f7063ac2e0e8946fe6d19566d$</string>
            <key>textureFileName</key>
            <string>ui_loading.png</string>
        </dict>
    </dict>
</plist>
