<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>prospect.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{27,-12}</string>
                <key>spriteSize</key>
                <string>{970,1000}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{1,1},{970,1000}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>surface.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{147,0}</string>
                <key>spriteSize</key>
                <string>{730,1024}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{1,1003},{730,1024}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ui_scene.png</string>
            <key>size</key>
            <string>{972,2028}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f7f820ccf936fc24b2923d65a35704e8:9789a99716625235c0ce2f6d7cf7b8cd:3e0f3f50170cd1fa9fe63d4730e4bc78$</string>
            <key>textureFileName</key>
            <string>ui_scene.png</string>
        </dict>
    </dict>
</plist>
