<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_sign_gray.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,174}</string>
                <key>spriteSourceSize</key>
                <string>{140,174}</string>
                <key>textureRect</key>
                <string>{{1,303},{140,174}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg_sign_normal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,174}</string>
                <key>spriteSourceSize</key>
                <string>{140,174}</string>
                <key>textureRect</key>
                <string>{{104,1},{140,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,101}</string>
                <key>spriteSourceSize</key>
                <string>{300,101}</string>
                <key>textureRect</key>
                <string>{{1,1},{300,101}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icon_diamond_gray.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,62}</string>
                <key>spriteSourceSize</key>
                <string>{48,62}</string>
                <key>textureRect</key>
                <string>{{177,371},{48,62}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icon_diamond_normal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,62}</string>
                <key>spriteSourceSize</key>
                <string>{48,62}</string>
                <key>textureRect</key>
                <string>{{193,177},{48,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_diamonds_normal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,87}</string>
                <key>spriteSourceSize</key>
                <string>{116,87}</string>
                <key>textureRect</key>
                <string>{{104,177},{116,87}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icon_dui.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,56}</string>
                <key>spriteSourceSize</key>
                <string>{74,56}</string>
                <key>textureRect</key>
                <string>{{177,295},{74,56}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icon_shadow_gray.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,10}</string>
                <key>spriteSourceSize</key>
                <string>{54,10}</string>
                <key>textureRect</key>
                <string>{{177,421},{54,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_shadow_normal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,10}</string>
                <key>spriteSourceSize</key>
                <string>{54,10}</string>
                <key>textureRect</key>
                <string>{{177,433},{54,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ui_sign.png</string>
            <key>size</key>
            <string>{245,444}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4385ea7e5c0e6c1f6c1fe85f136c09c0:c47cc7116a3f07c350d1bb91a56ea8f1:59b4fb21021ab08adf0023eeaa3de95a$</string>
            <key>textureFileName</key>
            <string>ui_sign.png</string>
        </dict>
    </dict>
</plist>
